@import '../main_style.scss';
@import "node_modules/mathsass/dist/math";

$pi: 3.1415;
$menu-items: 6;
$open-distance: 180px;
$opening-angle: $pi/2;

.menu-icon { font-size: 22px; }

.menu-filters-wrapper { // don't touch, it just works :)
  position: relative;
  transform-origin: center;

  left: 55%;
  top: -55%;
}

.menu-filters-item {
  z-index: 1;
  display: inline-block;
  position: absolute;

  white-space: nowrap;

  transition: transform ease-out 200ms;
  transition-timing-function: cubic-bezier(0.935, 0.000, 0.340, 1.330); // changes filter behaviour

  @for $i from 1 through $menu-items {
    $angle: ((0 - $opening-angle)/2)+(($opening-angle/($menu-items - 1))*($i - 1));

    &:nth-child(#{$i}) {
      transition-duration: 500ms;
      transform: translate3d(cos($angle)*$open-distance, sin($angle)*$open-distance, 0) scale(1);
    }
  }
}

.list-enter-active,
.list-leave-active {
  transition: 2s;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
}