@import '../main_style.scss';

.active-filters-label {
    font-family: $text-font;
    color: $text-color;
}

.filters-box {
    display: flex;

    font-family: $text-font;
    color: $text-color;
}

.submit-button {
    background-color: $secondary-color;
    color: $text-color;
}