@import '../main_style.scss';

.view-wrapper {
    background-color: $background-color;
    overflow: hidden;
}

.top-view-wrapper {
    padding-top: 2vh;
}

.center-view-wrapper {
    position: absolute;

    left: calc($navbar-width + 0vw);
    top: calc((100vh - 150px) / 2); // 150px is topview-width
}